body {
    margin: 0px;
}

.navbar {
    margin-top: 70px;
    background-color: #282A35;
    color: #f1f1f1;
    height: 38px;
    width: 100%;
    position: fixed;
    top: 0px;
    padding-top: 1rem;
    line-height: 2rem;
}

.navbar a {
    padding: 15px 10px 17px 10px;
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    overflow: auto;
    text-align: left;
}

.navbar a:hover {
    background-color: #000;
    color: #ffffff;
}

.nav1 {
    float: right;
    list-style: none;
}

.her {
    background-color: #04AA6D;
}

.main {
    padding: 165px;
    margin-top: -102px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar {
    margin-top: 68px;
    height: 100%;
    width: 242px;
    position: fixed;
    z-index: 1;
    top: 54px;
    left: 0;
    background-color: #E7E9EB;
    overflow: scroll;
    padding-top: 20px;
}

.sidebar a {
    font-family: Segoe UI, Arial, sans-serif;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: inherit;
    display: block;
    line-height: 1.5;
}

.sidebar a:hover {
    color: white;
    background-color: #04AA6D;;
}

.sidenav {
    font-size: 21px;
    font-weight: 400;
    font-family: Segoe UI, sans-serif;
    padding-left: 16px;
    margin: -4px 0 4px 0;
    width: 280px;
}

.hello {
    display: flex;
    text-align: center;
    background: bisque;
    width: 500px;
    justify-content: center;
    align-content: normal;
    align-items: center;
    justify-items: center;
    padding: 50%;
}
.logo6{
    display: inline-block;
}
.logo5{
    padding: 16px 16px;
    margin-top: 0px;

}

.logo {
    /* position: relative; */
    background-color: white;
    color: #282A35;
    font-family: 'Source Sans Pro', sans-serif;
    width: 1321px;
    height: 75px;
    padding-right: 16px;
    margin-top: -65px;
    margin-left: 70px;
}

.lo{
    /* margin-left: -25px; */
    padding: 24px 16px;
    margin-top: 10px;
    font-weight: 550;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-decoration: none;
    /* width: 84px; */
    /* height: 27px; */
}
#lo1:active {
    background-color: #000;
    color: #ffffff;
}

#log{
background-color: white;
}

.logo a {
    display: inline-block;
    text-decoration: none;
    color: #282A35;
}

.lo:hover {
    background-color: #04AA6D;;
    color: white;
}

.btn{
    display: inline-block;
    padding-left: 0px;
    margin-top: 8px;
    margin-left: 300px;
    width: 500px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 550;
}