* {
    box-sizing: inherit;
}

html, body{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.logo5 {
    height: inherit;
    float: left;
}

.logo {
    background-color: white;
    height: 75px;
    padding: 0px 16px 0px 12px;
    position: relative;
}

.lo {
    color: #282A35;
    padding: 24px 16px;
    /* font-weight: 550; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-decoration: none;
    float: left;
}

.w3-padding-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

#lo1 {
    height: 27px;
}

.lo:hover {
    background-color: #04AA6D;
    color: white;
}

.lo1 {
    padding: 16px 0px;
}

.btn {
    color: #282A35;
    text-decoration: none;
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    /* font-weight: 550; */
    position: relative;
}

.btn1 {
    background-color: #282A35;
    text-align: center;
    color: #fff;
    border-radius: 25px;
    padding: 8px 16px;
    margin-right: 15px;
}

.btn2 {
    border-radius: 25px;
    background-color: #FFC0C7;
    text-align: center;
    padding: 8px 16px;
    margin-right: 15px;
}

.btn3 {
    border-radius: 25px;
    background-color: #FFF4A3;
    text-align: center;
    padding: 8px 16px;
    margin-right: 15px;
}

.btn4 {
    border-radius: 25px;
    background-color: rgb(4, 170, 109);
    text-align: center;
    color: #fff;
    padding: 8px 16px;
    width: 98px;
    height: 25px;
}

.navbar {
    background-color: #282A35;
    color: #f1f1f1;
    height: 44px;
    width: 100%;
    position: relative;
    top: 0;
}

@media screen (min-width: 480px) {
    .navbar{
        height: inherit;
    }
}

.nav {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.navbar a {
    text-align: center;
    padding: 10px 13px 8px 15px;
    text-decoration: none;
    color: #f1f1f1;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    /* font-weight: 550; */
    float: left;
}

.navbar a:hover {
    background-color: #000;
    color: #ffffff;
}

.nav1 {
    float: right;
    list-style: none;
}

.her {
    background-color: #04AA6D;
}

.sidebar {
    padding-top: 20px;
    height: 100%;
    width: 220px;
    position: relative;
    background-color: #E7E9EB;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
}

.sidebar a {
    font-family: Segoe UI, Arial, sans-serif;
    padding: 2px 1px 1px 16px;
    text-decoration: none;
    font-size: 15px;
    color: inherit;
    display: block;
    line-height: 1.5;
}

.sidebar a:hover {
    background-color: #cccccc;
}

.sidenav {
    font-size: 21px;
    font-weight: 400;
    font-family: Segoe UI, sans-serif;
    padding-left: 16px;
    width: 186px;
    margin: -4px 0px 4px 0px !important;
}

.hello {
    border-right: 1px solid #f1f1f1;
    height: 3262px;
    width: 77.576%;
    padding: 16px 32px 32px 32px;
}

h1 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    font-size: 42px;
    margin: 10px 0px;
}

.ho {
    background-color: white !important;
}

.home {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #04AA6D;
    color: #ffffff;
    border-color: #04AA6D;
    text-decoration: none;
    text-align: center;
    padding-left: 19px !important;
    padding-right: 19px !important;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.home:hover {
    color: #ffffff !important;
    background-color: #04AA6D !important;
}

.home1:hover {
    color: #ffffff !important;
    background-color: #04AA6D !important;
}

hr {
    margin: 20px -16px;
    border: 0;
    border-top: 1px solid #eee;
}

.main {
    background-color: #D9EEE1;
    border-left: none;
    padding: 32px;
    margin: 24px;
    margin-left: -32px;
    margin-right: -32px;
}

.main p {
    line-height: 1.5;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 15px;
    font-family: Verdana, sans-serif;
}

.main1 a {
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
}

.main2 a {
    color: inherit;
}

.main3 {
    color: #FFFFFF;
    border: none;
    display: inline-block;
}

.main3:hover{
    color: #FFFFFF;
    background-color: #059862 !important;
}

.main .main3 {
    background-color: #04AA6D;
    border-radius: 5px;
    line-height: 1.5;
}

.main4 {
    padding: 12px 24px !important;
}

h2, h3 {
    font-size: 32px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0px;
}

h3 {
    font-size: 24px;
}

.pera {
    font-size: 15px;
    font-family: Verdana, sans-serif;
    margin: 18px 0px;
}

.pera1 {
    padding: 8px 20px;
    margin: 24px 0px;
    background-color: #E7E9EB;
    border-radius: 5px;
    height: 623px;
}

.pera2 {
    color: rgb(255, 255, 255);
    background-color: rgb(13, 110, 253);
    padding: 36px;
    height: 71.562px;
}

.pera2 h1 {
    font-size: 29px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 500;
    text-align: center;
    line-height: 1.2;
    margin-top: 0px !important;
    margin-bottom: 6px !important;
}

.pera2 p {
    margin-top: 0px !important;
    margin-bottom: 12px !important;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    font-family: "Segoe UI", Arial, sans-serif;
}

.count {
    margin-bottom: 24px;
    margin-top: 0px;
    height: 325px;
    background-color: rgba(255, 255, 255);
    padding: 36px 78px 0px 78px;
}

.row {
    display: flex;
    flex-direction: row;
}

.count1 {
    padding: 0px 9px;
}

.count1 h3 {
    color: rgb(33, 37, 41);
    font-size: 20.856px;
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 1.2;
    font-weight: 500;
    text-align: start;
    margin-block-end: 6px;
    margin-block-start: 0px;
    margin-bottom: 6px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.count1 p {
    margin-top: 0px;
    margin-bottom: 12px;
}

.count2 {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #04AA6D !important;
    border-radius: 5px;
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px 18px;
}

.count3 {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: -32px;
    margin-right: -32px;
    padding: 16px 32px;
    background-color: #ffffcc;
}

.count3 p {
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 8px;
}

.count3 a{
    color: inherit;
}

.count4 {
    margin-top: 18px;
    margin-bottom: 18px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.count4 a{
    color: inherit;
}

.count5{
    padding: 20px;
    margin: 32px -20px;
    background-color: #282A35;
    color: #ffffff;
    border-radius: 5px;
}

.count6{
    background-color: #ffffff;
    padding: 16px;
    color: #000000;
}

.count6 p{
    margin: 18px 0px;
}

.count7{
    background-color: #E7E9EB;
    padding: 16px;  
    font-size: 120%;
    font-family: Consolas,Menlo,"Courier New", Courier, monospace;
}

.count7 input{
    padding: 1px;
    border: 1px solid #E7E9EB;
}

.count8{
    background-color: #04AA6D;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 7px 18px;
    color: #FFFFFF;
    border: none;
}

a{
    color: inherit;
}

.row5 a:hover{
    color: #04AA6D;
}

.count9{
    font-size: 17px;
    color: #fff;
    background-color: #2196F3;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 5px;
    padding: 6px 18px;
    text-decoration: none;
    display: inline-block;
}

.row1{
    margin-top: 18px;
    margin-bottom: 18px;
}

.row1 a:hover{
    background-color: #2196F3;
    color: #fff;
}


.row3{
    font-family: 'Roboto Mono', monospace;
    background-color: #f1f1f1;
    color: black;
    border: 1px solid #E7E9EB;
    padding: 20px 60px 20px 20px;
    text-align:left;
    text-decoration: none;
    font-size: 18px;
    float: left;
    border-radius: 5px;
}

.row4{
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    background-color: #04AA6D;
    color: #ffffff;
    border: 1px solid #04AA6D;
    padding: 20px ;
    text-align:right;
    text-decoration: none;
    float: right;
    border-radius: 5px;
}
